<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
	<link href="../static/css/style.css" th:href="@{/css/main.css}" rel="stylesheet" />

	<title>Save / Update Doctor</title>
</head>

<body>

	<div class="container">

		<hr>
		
		<p class="h4 mb-4">Save / Update Doctor</p>
	
		<form action="#" th:action="@{/doctors/save}" th:object="${doctor}" method="POST">

			<input type="hidden" th:field="*{id}">
		
			<input type="text" th:field="*{firstName}"
					class="form-control mb-4 col-4" placeholder="First name">

			<input type="text" th:field="*{lastName}"
					class="form-control mb-4 col-4" placeholder="Last name">

			<input type="text" th:field="*{title}"
					class="form-control mb-4 col-4" placeholder="Title">

			<input type="text" th:field="*{age}"
				   class="form-control mb-4 col-4" placeholder="Age">
				
			<button type="submit" class="btn btn-success col-2">Save / Update</button>
						
		</form>
	
		<hr>
		
	</div>
</body>

</html>










