<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
	<link href="../static/css/style.css" th:href="@{/css/main.css}" rel="stylesheet" />

	<title>Doctors Directory</title>
</head>

<body>

<div class="container">

	<hr>

	<a th:href="@{/doctors/form}" class="btn btn-primary btn-sm mb-3">
		Add Doctor
	</a>
	
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Title</th>
				<th>Age</th>
				<th>Action</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="doctor : ${doctors}">
			
				<td th:text="${doctor.firstName}"></td>
				<td th:text="${doctor.lastName}"></td>
				<td th:text="${doctor.title}"></td>
				<td th:text="${doctor.age}"></td>
				<td>
					<a th:href="@{/doctors/update(id=${doctor.id})}"
					   class="btn btn-primary btn-sm action-button">Update</a>

					<a th:href="@{/doctors/remove(id=${doctor.id})}"
					   class="btn btn-danger btn-sm action-button">Remove</a>
				</td>
			</tr>
		</tbody>		
	</table>
	
</div>
	
</body>
</html>



