<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title> Find patients </title>
  <link href="../static/css/style.css" th:href="@{/css/healthcare.css}" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/healthcare/dashboard"><i class="bi bi-clipboard"></i> Dashboard</a>
        <a class="nav-link" href="/healthcare/doctors"><i class="bi bi-people-fill"></i> Doctors</a>
        <a class="nav-link active" aria-current="page" href="/healthcare/patients"><i class="bi bi-person-fill"></i> Patients</a>
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </div>
    </div>
  </div>
</nav>

<div class="title" style="margin-top: 2%;">
  <h1> Find patients </h1>
</div>

<table class="table table-dark table-hover" style="width: 75%; margin: auto; margin-top: 5%;">
  <thead>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Age</th>
    <th>SSN</th>
    <th>Phone number</th>
    <th>Description</th>
  </tr>
  </thead>

  <tbody>
  <tr th:each="patient : ${patientList}">
    <td th:text="${patient.firstName}"></td>
    <td th:text="${patient.lastName}"></td>
    <td th:text="${patient.age}"></td>
    <td th:text="${patient.SSN}"></td>
    <td th:text="${patient.phoneNumber}"></td>
    <td th:text="${patient.desc}"></td>
  </tr>
  </tbody>
</table>

<div class="position-absolute top-50 start-50 translate-middle" th:object="${Doctor}">

  <form action="findPatient" th:object="${Patient}" method="GET">
    <input type="text" class="form-control" name="SSN" placeholder="Enter SSN..." required> <br />
    <input type="submit" class="btn btn-dark" value="Search" style="width: 250px;"/>
  </form>

</div>

<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>

</body>
</html>